{% extends 'base.html' %}

{% block main %}


<div class="container">
<h2>CARGAR CARACTERISTICAS DELAS CASA</h2>
    <div class="row">
        <div class="col-lg-12">
            <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                 {% for message in messages %}
                   <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                  </div>
                 {% endfor %}
                  {% endif %}
                {% endwith %}
               </p>
  <div>
   <!-- File upload form -->
   <form method="post" action="/caracteristicas" enctype="multipart/form-data" class="form-inline">
    <div class="form-group">
                      <label>Escriba las caracteristicas: </label>
                      <textarea class="form-control" id="submit-description" rows="4" name="carac" required></textarea>
                                        <div class="form-group">
                                    <select name="estado">
                                        <option value="">Casa</option>
                                        {% for i in casa %}
                                        <option value="{{i.id}}">{{i.id}}</option>

                                        {% endfor %}
                                    </select>
                                </div>

                 </div>
                 <input type="submit" name="submit" class="btn btn-success" value="UPLOAD"/>
             </form>
  </div>
  </div>
 </div>
</div>

{% endblock %}